<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Skillsphere Backend</h1>
    <ul>
      <li><a href="/api/seminars">View Seminars</a></li>
      <li><a href="/api/registrations/user/000000000000000000000000">My Registrations (sample)</a></li>
    </ul>
  </body>
  </html>


