<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>My Registered Seminars</h1>
    <ul>
      <% registrations.forEach(function(r){ %>
        <li>
          <%= r.seminarId?.title %> - <%= r.status %> - <%= new Date(r.createdAt).toLocaleString() %>
        </li>
      <% }) %>
    </ul>
  </body>
  </html>


